/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  background-image: radial-gradient( circle, #2c3e50, #3498db, #2c3e50);
  line-height: 45px;
  letter-spacing: 0.15rem;
  word-spacing: 0.1rem;
}

#ind {
  text-indent: 20px;
}

/* Layout */

#c {
  float: left;
  list-style-type: none;
  padding: 25px;
  font-color: black;
}

ul {
  list-style: none;
  font-size: 14px;
}

li {
  line-height: 30px;
}

ol {
  font-size: 14px;
}

nav {
  font-size: 14px;
}

section {
  float: right;
  width: 70%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 10%;
  font-family: Cairo: sans-serif;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* Headings */

h1 {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 45px;
  background: -webkit-linear-gradient( lime, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 0.15rem;
}

/* Paragraphs */

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 14px;
}

/* Anchor Styling */

a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

a[href*="http"] {
  background: url(../img/ext.png) no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
}

a {
  position: relative;
}

a:hover {
  color: yellow;
  text-decoration: none;
}

@media (max-width: 1024px)